<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">

            <img src="assets/images/logo-dark.png" alt="logo" class="img-fluid mb-4" />
            <h4 class="mb-3 f-w-400">Sign up</h4>

            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="feather icon-user"></i>
              </span>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                [(ngModel)]="form.username"
              />
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="feather icon-mail"></i>
              </span>
              <input
                type="email"
                class="form-control"
                placeholder="Email address"
                [(ngModel)]="form.email"
              />
            </div>

            <!-- PASSWORD -->
            <div class="input-group mb-4">
              <span class="input-group-text">
                <i class="feather icon-lock"></i>
              </span>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                [(ngModel)]="form.password"
              />
            </div>

            <!-- ROLE -->
            <div class="row mb-4 role-cards">
              <div class="col-6" (click)="setRole('patient')">
                <div class="role-card" [class.active]="role === 'patient'">
                  <i class="feather icon-user"></i>
                  <h5>Patient</h5>
                </div>
              </div>

              <div class="col-6" (click)="setRole('doctor')">
                <div class="role-card" [class.active]="role === 'doctor'">
                  <i class="feather icon-briefcase"></i>
                  <h5>Docteur</h5>
                </div>
              </div>
            </div>

            <!-- BUTTON -->
            <div class="d-grid">
              <button class="btn btn-primary btn-block mb-4" (click)="register()">
                Sign up
              </button>
            </div>

            <p class="mb-2">
              Already have an account?
              <a [routerLink]="['/auth/signin']" class="f-w-400">Signin</a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
